.button {
    -fx-font: 14pt "SansSerif";
    -fx-text-fill: #006666;
    -fx-background-color: orange;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#button3 {
    -fx-font: 14pt "Monospaced";
    -fx-text-fill: #0066DD;
    -fx-background-color: red;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}